.idea/
.env

hf_cache/*
!hf_cache/.gitkeep

venv/*
!venv/.gitkeep

pip_cache/*
!pip_cache/.gitkeep

ultralytics_cache/*
!ultralytics_cache/.gitkeep

custom_nodes/*
!custom_nodes/.gitkeep
!custom_nodes/custom_nodes.txt
!custom_nodes/websocket_image_save.py
!custom_nodes/example_node.py.example
